body{
    Background-color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkcyan;
    text-align: center;
}
.heading{
    height: 100px;
    padding-top: 10px;
    padding-bottom: 0;
    
}
.container {
    position: relative;
    text-align: center;
    color: darkcyan; ;
}
.text{
    position: absolute;
    top: 50%;
    bottom:50%;
    left: 33%;
}
.game-area {
    background-color:black;
    box-sizing: borderbox;
    width: 75%;
    height:auto;
    margin:auto;
    margin-top:1%;
    text-align:center;
}
.control{
    display:inline-block;
    margin:2px;
    width:80px;
    height:40px;
}

